body {
  font-family: sans-serif;
  text-align: center;
}
/*Ejercicio completo*/
#website{
  width: 75%;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid #ccc;
}
#cabecera{
  background: blue;
  color: white;
}

#menu{
  background: lightblue;
  color: black;
}
#contenido{
  background: #eee;
}
#contenido article{
  background: #ccc;
  border: 1px solid #555;
}
#lateral{
  background: orange;
  color: white;
}
#pie-pagina{
  background: black;
  color: white;
}








/*---------------------------------------------------------*/

.layout {
  width: 1250px;
  height:max-content;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 3fr;
  grid-gap: 10px;
  padding: 10px;
  border: 3px solid orangered;
}

.layout .caja {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 20px;
  border: 4px solid #222;
  background: gray;
}

.layout .red {
  background: red;
  grid-column-start: 1;
  grid-column-end: 3;
}
.layout .green {
  background: green;
  grid-row: 2/4;
  
}
.layout .blue {
  background: blue;
  grid-column: 1 / 3;
}
.layout .pink {
  background: pink;
}
.layout .lightblue{
  background: lightblue;
  grid-column-start: 1;
  grid-column-end: 3;
  
}
